.row-header{
    margin:10px auto;
    padding:10px auto;
}
.foot{
    background: rgb(189, 148, 148);
    
}
.row-content {
    margin:1px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    
    margin:10px auto;
    padding: 20px 20px 20px 20px;
}

.address{
    font-size:80%;
    margin:10px;
    color:#0f0f0f;
}

